<app-home-adm></app-home-adm>
<br><br>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card header="Casdastro Servidor">

  <span class="ui-float-label">
    <input id="float-input" type="text" size="20" pInputText [(ngModel)]="nome"> 
    <label for="float-input">Nome</label>
  </span>
  <br>

  <span class="ui-float-label">
    <input id="float-input" type="text" size="20" pInputText [(ngModel)]="email"> 
    <label for="float-input">Email</label>
  </span>
  <br>

  <span class="ui-float-label">
    <p-inputMask [(ngModel)]="siape" mask="9999999" styleClass="input-mask" (focus)="mostrarMsg()"></p-inputMask>
    <label for="float-input">Siape</label>
  </span>
  <br>

  <span class="ui-float-label">
    <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha" pPassword> 
    <label for="float-input">Senha</label>
  </span>
  <br>

  <span class="ui-float-label">
    <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha2"> 
    <label for="float-input">Repetir Senha</label>
  </span>
  <br>

  <span class="ui-float-label">
    <p-dropdown [options]="setores" [(ngModel)]="setorEscolhido" optionLabel="nome"></p-dropdown>
  </span>
  <br>

  <button pButton type="button" label="Cadastrar" (click)="cadastrar()" class="ui-button-raised ui-button-success"></button>

  <br>
</p-card>