<br><br>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card title="Casdastro">

  <span class="ui-float-label">
    <input id="float-input" type="text" size="20" pInputText [(ngModel)]="nome"> 
    <label for="float-input">Nome</label>
</span>
<br>

<span class="ui-float-label">
    <p-inputMask [(ngModel)]="siape" mask="9999999" styleClass="input-mask" (focus)="mostrarMsg()"></p-inputMask>
    <label for="float-input">Siape</label>
    &#160;<p-message *ngIf="msgErroSiape" severity="error" text="Essa siape já está sendo utilizada"></p-message>
</span>


<br>

<span class="ui-float-label">
  <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha" pPassword> 
  <label for="float-input">Senha</label>
</span>
<br>

<span class="ui-float-label">
  <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha2"> 
  <label for="float-input">Repetir Senha</label>
  &#160;<p-message *ngIf="msgErroSenha" severity="error" text="As senhas não são iguais." (focus)="mostrarMsg()"></p-message>
</span>
<br>

<button pButton type="button" label="Cadastrar" (click)="cadastrar()"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Login" (click)="irParaTelaDeLogin()"></button>


<br>
<br>
</p-card>