
:host >>> input{
    background-color: rgb(174, 255, 149);
    color: gray
}
p-card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
  }