<app-home></app-home>
<p-card title="Setores">
  <p-card>
    <p-table [value]="setores">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome Do Setor</th>
          <th>Usuário</th>
          <th>Siape do Usuário</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-setor>
        <tr>
          <td>{{setor.nome}}</td>
          <td>{{getNomeDoUsuario(setor)}}</td>
          <td>{{getSiapeDoUsuario(setor)}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</p-card>