<app-home></app-home>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card header="Setores">
  <p-card>
    <p-table [value]="setores" [paginator]="true" [rows]="20">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:15em">Nome Do Setor</th>
          <th style="width:15em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-setor>
        <tr>
          <td>{{setor.nome}}</td>
          <td>
            <button type="button" (click)="show(setor.id, setor.nome)" pButton icon="pi pi-info-circle" label="Listar Usuários"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</p-card>