<app-home></app-home>
<p-card title="Memorandos">
<h3>Enviados</h3>
<p>
    Buscar: 
    <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)" placeholder="Setores" [minLength]="1"></p-autoComplete>
</p>
<br>
<p-card title="">
  <p-table [value]="memorandos">
    <ng-template pTemplate="header">
        <tr>
            <th>Setor de Destino</th>
            <th>Data</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-memorando>
        <tr>
            <td>{{getNomeDoSetorDeDestino(memorando.idSetorDestinatario)}}</td>
            <td>{{memorando.dataEnvio}}</td>
            <td>
            <p-button label="Abrir" styleClass="ui-button-success" (click)="exibirMemorando(memorando)" class="ui-button-raised ui-button-success"></p-button>
            <p-toggleButton onLabel="Visualizado" offLabel="Não Visualizado" [(ngModel)]="memorando.visto" disabled class="ui-button-raised ui-button-success"></p-toggleButton>
            </td>
        </tr>
    </ng-template>
  </p-table>
</p-card>