<br><br>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card title="Login">
<span class="ui-float-label">
    <p-inputMask [(ngModel)]="siape" mask="9999999"></p-inputMask> 
    <label for="float-input">Siape</label>
</span>
<br>

<span class="ui-float-label">
  <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha"> 
  <label for="float-input">Senha</label>
</span>
<br>

<button pButton type="button" label="Login" (click)="fazerLogin()" class="ui-button-raised ui-button-success"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Cadastrar" (click)="irParaTelaDeCadastro()" class="ui-button-raised ui-button-success"></button>

<br>
<br>

</p-card>
