:host >>> input{
    width: 100%;
    background-color: rgb(211, 255, 197);
}
 p-card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%
}
button{
    width: 100%;
    font-weight: bold;
}
.botaoAjuda button{
    width: 25%;
}
img{
    width: 47%;
}