:host >>> input{
    width: 100%;
    background-color: #AEFF95;
}
 p-card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%
}
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
}
button{
    width: 100%
}
img{
    width: 47%;
}