<br><br>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

<p-card header="Login" >
<br>
<span class="ui-float-label">
    <p-inputMask [(ngModel)]="siape" mask="9999999" ></p-inputMask> 
    <label for="float-input">Siape</label>
</span>
<br>

<span class="ui-float-label">
  <input id="float-input" type="password" size="20" pInputText [(ngModel)]="senha"> 
  <label for="float-input">Senha</label>
</span>
<br>
  <button pButton type="button" label="Login" (click)="logar()" class="ui-button-raised ui-button-success ui-button-rounded"></button>
  <button pButton type="button" label="Ajuda(Como Usar O Sistema)" (click)="mostrarAjuda()" class="ui-button-raised ui-button-info ui-button-rounded" style="width: 45%; font-size: 65%; "></button>
  &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<button pButton type="button" label="Esqueci minha senha" (click)="irParaRecuperarConta()" class="ui-button-raised ui-button-info ui-button-rounded" style="width: 45%; font-size: 65%; "></button>
<br>
<br>
<footer>
    <img src="../../assets/logoIFPEGaranhuns.png" alt=""> &nbsp;&nbsp;&nbsp;
    <img src="../../assets/Logo Memo.me3.png" alt="">
</footer>
</p-card>
