<br><br>
<p-card title="Login">
<span class="ui-float-label">
    <input id="float-input" type="text" size="20" pInputText [(ngModel)]=siape> 
    <label for="float-input">Siape</label>
</span>
<br>

<span class="ui-float-label">
  <input id="float-input" type="text" size="20" pInputText [(ngModel)]=senha> 
  <label for="float-input">ehfawgfwgvw9a8fbeo8fwd</label>
</span>
<br>

<button pButton type="button" label="Login" (click)="logar();"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Cadastrar" (click)="cadastrar();"></button>

<br>
<br>

</p-card>
