:host >>> input{
    background-color: #AEFF95;
}
 p-card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
}
img{
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: blue;
    width: 50%;
}