input{
    background-color: rgb(149, 195, 255);
    color: gray
}
p-card{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: blue
}