:host >>> input{
    background-color: rgb(174, 255, 149);
    color: gray
}
p-card{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

:host >>> .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all{
    
    background-color: #249525;
    
}
:host >>> .ui-autocomplete-panel{
    background-color: #AEFF95;
}
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
}