<app-home></app-home>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<br><br>
<p-card title="Enviar Memorando">
  
    <p-dropdown [options]="setores" placeholder="Selecione o Setor" [(ngModel)]="destinatario" optionLabel="nome"></p-dropdown>
     
<br>

<span class="ui-float-label">
  <textarea placeholder="Mensagem" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="mensagem"></textarea>
</span>
<br>

<button pButton type="button" label="Enviar" (click)="enviarMemorando()"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Cancelar" (click)="irParaTelaHome()"></button>

<br>
<br>
&#160;<p-message severity="warn" *ngIf="setores.length == 0" text="Não há outros setores cadastro."></p-message>
</p-card>