<app-home></app-home>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<br>
<br>
<p-card header="Enviar Memorando" class="central">
  <div class="p-grid">
    <div class="p-col">
      <span class="ui-float-label">
        <input id="float-input" class="assunto" [(ngModel)]="assunto" type="text" size="30" pInputText> 
        <label for="float-input">Assunto</label>
      </span>
    </div>
    <div class="p-col-3" >
      <!-- <span class="ui-float-label">
         <p-autoComplete [(ngModel)]="texto" [forceSelection]="true" [suggestions]="resultados" (completeMethod)="buscar($event)"></p-autoComplete>   
        <label for="float-input">Digite o nome do Setor</label>
      </span> -->
      <span class="ui-float-label" style="float: right;">
        <p-dropdown [options]="setores" [(ngModel)]="setorEscolhido" optionLabel="nome" ></p-dropdown>
      </span>
      <br>
    </div>
  </div>
  
<br>
<p-card>
  <p-editor [(ngModel)]="mensagem" [style]="{'height':'320px'}">
    <p-header>
      <span class="ql-format-group">
        <section class="container">
          <div class="one">
            Memorando
          </div>
          <div class="ui-rtl two" dir="rtl">
            Memo.me
          </div>  
        </section>
      </span>
    </p-header>
  </p-editor>
</p-card>
<p-card>
<button pButton type="button" label="Enviar" (click)="enviarMemorando()" class="ui-button-raised ui-button-success"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Cancelar" (click)="irParaTelaHome()" class="ui-button-raised ui-button-success"></button>
</p-card>
&#160;<p-message severity="warn" *ngIf="setores == null" text="Não há outros setores cadastrados."></p-message>
</p-card>