<br><br>
<p-card title="Enviar Memorando">
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="Setor Destinatario" [(ngModel)]="destinatario">         
</div>
<br>

<span class="ui-float-label">
  <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="mensagem"></textarea>
</span>
<br>

<button pButton type="button" label="Enviar" (click)="enviarMemorando()"></button>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<button pButton type="button" label="Cancelar" (click)="irParaTelaHome()"></button>

<br>
<br>
</p-card>