:host >>> .central{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
  }
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
}
:host >>> input{
    background-color: #AEFF95;
    width: 100%;
    top: 0%;
}
:host >>> .assunto{
    height: 300%;
}
:host >>> .ui-autocomplete-dd .ui-autocomplete-dropdown.ui-corner-all{
    
    transform:translate(+1270%,-100%);
    background-color: #249525;
    
}
:host >>> .ui-autocomplete-input{
    width: 186% !important;
}
:host >>> .ui-autocomplete-panel{
    background-color: #AEFF95;
    width: 186% !important;
  }
.container {
    width: 100%;
    margin: auto;
    padding: 1px;
}
.one {
    width: 15%;
    float: left;
}
.two {
    margin-left: 15%;
}