:host >>> input{
    width: 100%;
    background-color: rgb(211, 255, 197);
}
:host >>> .ui-dropdown{
    width: 100%;
}
:host >>> .ui-dropdown-panel{
    background-color: #AEFF95;
    color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown-label{
    background-color: rgb(211, 255, 197);
    color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown-item{
    color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown .ui-dropdown-trigger {
    background-color: #AEFF95;
    color: white;
}
 p-card{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%
}
button{
    width: 100%;
    font-weight: bold;
}