<app-home></app-home>
<p-card title="Vizualizar" subtitle="memorando" [style]="{width: '600px'}" class="central">
    <p-card class="assunto">
        Assunto: 
    </p-card>
    <p-card >
        <p-scrollPanel [style]="{width: '100%', height: '200px'}">
            <div [innerHTML]="mensagem"></div>
        </p-scrollPanel>
    </p-card>
    <p-footer>
        <button pButton type="button" label="Voltar" class="fa-mail-reply" style="margin-right: .25em" (click)="voltar()" class="ui-button-raised ui-button-success"></button>
    </p-footer>
</p-card>