
:host >>> input{
  background-color: rgb(211, 255, 197);
  color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown-panel{
  background-color: #AEFF95;
  color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown-label{
  background-color: rgb(211, 255, 197);
  color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown-item{
  color: rgb(138, 138, 138);
}
:host >>> .ui-dropdown .ui-dropdown-trigger {
  background-color: #AEFF95;
  color: white;
}
:host >>> .ui-datepicker-trigger{
  background-color: #AEFF95;
}
:host >>> .ui-togglebutton.ui-button.ui-state-active{
  background-color: #AEFF95;
}
:host >>> .filter .ui-card{

  background-color: rgb(235, 255, 235);

}