<app-home></app-home>
<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card title="Memorandos">
<h3>Recebidos</h3>

<h3> Filtro: </h3>
  
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="background-color: #249525; color: white">Setor</span>
            <p-autoComplete [suggestions]="setoresResults" [(ngModel)]="setor" (onClear)="atualizarResultados()"(completeMethod)="buscarSetores($event)"></p-autoComplete>
        </div>
    </div>
            
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon" style="background-color: #249525; color: white">Situação</span>
          <p-dropdown [options]="options" [(ngModel)]="selectedOption" (onClear)="atualizarResultados($event)"(completeMethod)="buscarVistos($event)" optionLabel="option" [showClear]="true" placeholder="Todos"></p-dropdown>     
        </div>
    </div>

<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup"> 
        <span class="ui-inputgroup-addon" style="background-color: #249525; color: white" >Data</span>
      <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2019" showButtonBar="true" [(ngModel)]="date" [showIcon]="true" (onClear)="atualizarResultados($event)" (completeMethod)="buscarDatas($event)" [locale]="ptbr"></p-calendar>
    </div>
</div>

<div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup"> 
        <p-button label="Buscar" styleClass="ui-button-success" (click)="buscar()" class="ui-button-raised ui-button-success"></p-button>
    </div>
  </div>
</div>
<br>

<p-card title="">
  <p-table [value]="memorandos">
    <ng-template pTemplate="header">
        <tr>
            <th>Setor Emissor</th>
            <th>Assunto</th>
            <th>Data</th>
            <th>Número do Memorando</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-memorando>
        <tr>
            <td>{{getNomeDoSetorEmissor(memorando.idSetorEmissor)}}</td>
            <td>{{memorando.assunto}}</td>
            <td>{{memorando.dataEnvio}}</td>
            <td>{{memorando.numeroDoMemorando}}</td>
            <td>
                <p-button label="Abrir" styleClass="ui-button-success" (click)="exibirMemorando(memorando)" class="ui-button-raised ui-button-success"></p-button>
                <p-button label="gerar PDF" styleClass="ui-button-success" (click)="gerarPDF(memorando)" class="ui-button-raised ui-button-success"></p-button>
                <p-toggleButton onLabel="Visualizado" offLabel="Não Visualizado" disabled class="ui-button-raised ui-button-success"></p-toggleButton>
            </td>
        </tr>
    </ng-template>
  </p-table>
</p-card>