<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<p-card header="Recuperar a Conta">

    <div *ngIf="ocultar == false">
        <h4>Digite a siape da conta:</h4>
        <br>
        <span class="ui-float-label">
            <p-inputMask [(ngModel)]="siape" mask="9999999" ></p-inputMask> 
            <label for="float-input">Siape</label>
        </span>
        <br>

        <p-button label="Continuar" styleClass="ui-button-success" (click)="continuar()" class="ui-button-raised ui-button-success"></p-button>
    </div>

    <div *ngIf="ocultar == true">
        <h4>Digite a resposta para sua pergunta de segurança:</h4>
        <br>
        <input type="text" size="20" placeholder="{{perguntaDeSeguranca}}" disabled pInputText>
        <br>
        <br>
        
        <span class="ui-float-label">
            <input id="float-input" type="password" size="20" pInputText [(ngModel)]="respostaDeSeguranca"> 
            <label for="float-input">Resposta de segurança</label>
        </span>
        <br>
        <p-button label="Aceitar" styleClass="ui-button-success" (click)="verificar()" class="ui-button-raised ui-button-success"></p-button>
    </div>
</p-card>