input{
    background-color: rgb(211, 255, 197);
    color: gray
}
:host >>> .central{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
:host >>> .nome .ui-card{
    background-color: #AEFF95;
    color: gray
}
:host >>> .ui-card .ui-card-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder
}