<app-home-adm></app-home-adm>
<p-card title="Atualizar Setor: {{nome}}">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="novoNome" (focus)="mostrarMsg()" pInputText>
    <label for="float-input">Novo nome do Setor</label> 
  </span><br>
  <button pButton type="button" label="Atualizar" (click)="atualizarSetor()" class="ui-button-raised ui-button-success"></button>
  &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<button pButton type="button" label="Voltar" (click)="voltar()" class="ui-button-raised ui-button-success"></button><br>
  <br *ngIf="msgErro">&#160;<p-message severity="error" *ngIf="msgErro" text="Já existe um setor com esse nome."></p-message>
</p-card>