<br><br>
<p-card title="Atualizar Setor">
  <div class="iu-unputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="Novo Nome" [(ngModel)]="Nome Setor">
  </div>
  <br>
  <span class="ui-float-label">
    <input type="text" pInputText placeholder="Novo ID" [(ngModel)]="ID Setor">
  </span>
  <br>
  <button pButton type="button" label="Atualizar Setor" (click)="atualizarSetor()"></button>
  <button pButton type="button" label="Cancelar Atualizações" (click)="irParaTelaHome()"></button>
</p-card>