<app-home-adm></app-home-adm>
<p-card title="Atualizar">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="novoNome" (focus)="mostrarMsg()" pInputText>
    <label for="float-input">Novo nome do Setor</label> 
  </span><br>
  <p-dropdown [options]="setores" placeholder="Selecione o Setor" [(ngModel)]="setorSelecionado" optionLabel="nome"></p-dropdown>
  &#160;&#160;<button pButton type="button" label="Atualizar" (click)="atualizarSetor()"></button>
  <br *ngIf="setores.length == 0"><br *ngIf="setores.length == 0">&#160;<p-message severity="warn" *ngIf="setores.length == 0" text="Não há setores disponíveis."></p-message>
  <br *ngIf="msgErro"><br *ngIf="msgErro">&#160;<p-message severity="error" *ngIf="msgErro" text="Já existe um setor com esse nome."></p-message>
</p-card>