input{
    background-color: rgb(174, 255, 149);
    color: gray
}
:host >>> .central{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
:host >>> .ui-card {
    background-color: rgb(207, 252, 193);
}
:host >>> .nome .ui-card{
    background-color: #AEFF95;
    color: gray
}