<div style="overflow:scroll;height:500px;width:100%;overflow:auto">
    <p-card>
        <h2>Tutorial</h2>
        <p>
            Para criar o modelo de memorando basta digitir no campo na tela da mesma forma que se faria em um editor de texto padrão.
        </p><br>
        <p>
            Para adicionar/remover uma imagem basta clicar no botão "Adicionar/Remover Imagem",
            selecionar o campo imagens e passar a url da imagem <a href="https://freeonlinetools24.com/base64-image">codificada na base64</a>
            e depois preencher suas propriedades (largura, altura e posição na tela em relação aos eixos X e Y).
        </p><br>
        <p>
            Para vizualizar como ficará o modelo clique no botão Vizualizar.
        </p>

        <h3>Observações</h3>
        <ul>
            <li>Comece cada paragráfo com um ponto para poder realizer o espaçamento correto</li>
            <li>
                Para definir o local onde ficará algum dos atributos do memorando, como o assunto
                por exemplo, basta digitar no local um dos comandos da lista abaixo.
            </li>
        </ul>
        <h2>Comandos</h2>
        <ul>
            <li>&MENSAGEM: local onde ficará o corpo do memorando</li>
            <li>&ASSUNTO: local onde ficará o assunto do memorando</li>
            <li>&DATA: local onde ficará a data de envio do memorando</li>
            <li>&NUMERO: local onde ficará o número do memorando</li>
            <li>&USERNOME: local onde ficará o nome do usuário</li>
            <li>&USERSIAPE: local onde ficará a siape do usuário</li>
            <li>&SETOREMISSOR: local onde ficará o nome do setor emissor do memorando</li>
            <li>&SETORDESTINO: local onde ficará o nome do setor destinatário do memorando</li>
        </ul>

    </p-card>

</div>