<p-menubar [model]="items">
  <input type="text" pInputText placeholder="Search">
  <button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Menu"></button>
  <button pButton label="Logout" icon="fa fa-sign-out" (click)="deslogar();"></button>
  
</p-menubar>
<br><p-sidebar [(visible)]="display">
  Menu
</p-sidebar>
<p-card title="Memorandos">
<h3>{{vizualizando}}</h3>


<p-card title="">
  <p-table [value]="memorandos">
    <ng-template pTemplate="header">
        <tr>
            <th>ID Do Setor</th>
            <th>Data</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-memorando>
        <tr>
            <td>{{memorando.idSetorEmissor}}</td>
            <td>{{memorando.dataEnvio}}</td>
            <td><p-button label="Abrir" styleClass="ui-button-success" (click)="exibirMemorando(1)"></p-button></td>
        </tr>
    </ng-template>
  </p-table>
</p-card>
  
</p-card>