<div style="overflow:scroll;height:500px;width:100%;overflow:auto">
    <ul>
        <p-card>
        <br>
        <li>
            <b>
                Como fazer login no sistema?
            </b>
            <ol>
                <img src="../../assets/ajuda/Como fazer login no sistema.1.png">
                <br>
                <b>
                    Após ser cadastrado por um administrador
                </b>
                <li>
                    Insira sua Siape no campo <b>[1]</b>
                </li>
                <li>
                    Insira sua senha no campo <b>[2]</b>
                </li>
            </ol>
            <br><br>
            <ol>
                <img src="../../assets/ajuda/Como fazer login no sistema.3.png">
                <br>
                <b>
                    Após inserir seus dados
                </b>
                <li>
                    Clique no Botão indicado <b>[1]</b>
                </li>
            </ol>
        </li>
        <br>
        </p-card>
        <br>
        <p-card>
        <br>
        <li>
            <b>
                Como fazer o envio de um memorando? 
            </b>
            <ol>
                    <img src="../../assets/ajuda/Como fazer o envio de um memorando.1.png">
                    <br>
                    <b>
                        Estando logado no sistema
                    </b>
                    <li>
                        Clique na opção do menu indicada <b>[1]</b>
                    </li>
                </ol>
                <br><br>
                <ol>
                    <img src="../../assets/ajuda/Como fazer o envio de um memorando.2.png">
                    <br>
                    <b>
                        Após o passo anterior
                    </b>
                    <li>
                        Clique na opção do menu indicada <b>[1]</b>
                    </li>
                </ol>
                <br><br>
                <ol>
                    <img src="../../assets/ajuda/Como fazer o envio de um memorando.3.png">
                    <br>
                    <b>
                        Chegando na tela de envio
                    </b>
                    <li>
                        Ponha o assunto do memorando no local indicado <b>[1]</b>
                    </li>
                    <li>
                        Selecione o setor ao qual deseja enviar o documento <b>[2]</b>
                    </li>
                    <li>
                        Escreva o corpo do seu memorando no espaço indicado <b>[3]</b>
                    </li>
                    <li>
                        Clique no botão indicado para enviar <b>[4]</b>
                    </li>
                </ol>
        </li>
        <br>
        </p-card>
        <br>
        <p-card>
        <br>
        <li>
            <b>
                Como descobrir quem visualizou meu memorando? 
            </b>
            <ol>
                <img src="../../assets/ajuda/Como descobrir quem visualizou meu memorando.1.png">
                <br>
                <b>
                    Tendo enviado um memorando
                </b>
                <li>
                    Clique no botão indicado do memorando de seu desejo <b>[1]</b>
                </li>
            </ol>
            <br><br>
            <ol>
                <img src="../../assets/ajuda/Como descobrir quem visualizou meu memorando.2.png">
                <br>
                <b>
                    Após clicar no botão visualize as informações
                </b>
                <li>
                    Nome do Servidor <b>[1]</b>
                </li>
                <li>
                    Siape do Servidor <b>[2]</b>
                </li>
                <li>
                    Estado desse memorando referente ao servidor em questão <b>[3]</b>
                </li>
                <li>
                    Após selecionar os filtros desejados clique no botão indicado <b>[2]</b>
                </li>
            </ol>
        </li>
        <br>
        </p-card>
        <br>
        <p-card>
        <br>
        <li>
            <b>
                Como filtrar memorandos?
            </b>
            <ol>
                <img src="../../assets/ajuda/Como filtrar memorandos.1.png">
                <br>
                <b>
                    Após estar logado no sistema
                </b>
                <li>
                    Se for de seu desejo escolha um setor <b>[1]</b>
                </li>
                <li>
                    Se for de seu desejo escolha uma situação(visto, não visto, todos) <b>[2]</b>
                </li>
                <li>
                    Se for de seu desejo escolha uma data de envio <b>[2]</b>
                </li>
                <li>
                    Após selecionar os filtros desejados clique no botão indicado <b>[2]</b>
                </li>
            </ol>
        </li>
        </p-card>
    </ul>
</div>